{% extends 'customer/master.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<style>
   
    .container {
        display: flex;
        justify-content: space-between;
    }

    .product-card {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        height: 250px;
        width: 540px;
        box-shadow: 0 0 0 0.2rem rgba(9, 18, 28, 0.5)
    }

    .product-image {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        height: 250px;
        width: 200px;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    .product-card button{
        height: 30px;
        width: 100px;
        margin-bottom: 5px;
    }

    .product-price {
        font-weight: bold;
    }

    .bill {
        width: 300px;
        padding: 10px;
        background-color: lightgray;
        margin-right: 100px;
    }

    .bill-title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .bill-total {
        font-weight: bold;
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block content %}
<h3 class="mt-3">cart</h3>
<br>


<div class="container">
    {% if cart_items %}
    <div class="cart">
        {% for item in cart_items %}
        <div class="product-card">
            <img class="product-image" src="{{ item.product.photo.url }}" alt="Product 1">
            <div class="product-details">
                <h3 class="card-title">{{ item.product.name }}</h3>
                <h5>{{ item.product.price }}</h5>

                <label for="">qty:</label><input type="number" value="{{ item.stock }}" size="1" name="stock" max="{{ item.product.stock }}" item_id="{{ item.product.id }}" item_price="{{ item.product.price }}" min=1>
                <h6 class="mt-3">supplier : <span>{{ item.product.seller.name }}</span></h6>
                <hr>
                <h6 class="total">total:<span id="total{{ item.product.id }}" class="single_item_total">{% widthratio item.product.price 1 item.stock %}</span></h6>
                <button type="button" class="btn btn-danger">close</button>
            </div>
        </div>
        {% endfor %}
        


        
    </div>
    {% else %}
    <h2>no items in cart</h2>
    {% endif %}
    <div class="bill mb-3">
        <h2 class="bill-title">For Delivery</h2>
        <div class="bill-items">
            
        </div>
        <hr>
        <br>
        <span class="bill-total" >Total: <span id="grand_total">{{ grand_total }}</span></span>
        <hr>
        <span class="bill-total">shipping : $100.00</span>
        <hr>
        <h4><span id="grand_shpping_total">total : {{ grand_total|add:100 }}</span></h4>
        <br>
        <button type="button" class="btn btn-outline-success">Success</button>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</body>

<script>
    $("input").change(function(){

        let price = $(this).attr('item_price') //these attributes are already sets in stocks input box so we can acces products id , price here//
        let id = $(this).attr("item_id")
        let stock = $(this).val()  //we can hav the value of input .which means number of stocks we want //
        $.ajaxSetup({
                headers: {

                    "X-CSRFToken": '{{ csrf_token }}'

                }
            })

            $.ajax({
                url : "{% url 'customer:update_cart' %}",
                method : "POST",
                data : {
                    "p_id" : id,
                    "p_stock" : stock

                },
                success : function(response){
                    if(response.status_code == 200){
                        let selected_span_id = 'total'+id /*we need a span id where we want to show the total . 
                        in this case we have already set id as 'toatal'{{product.id}} . he are we also did same with a string total
                        concatanate with the id which is we are already fetched from above */
                    
                        console.log(selected_span_id)
                        let selected_span = document.getElementById(selected_span_id)/* we are fetching span id where 'total'+product id which means the variable we stored */

                        let selected_product_total = parseInt(stock) * parseFloat(price)
                        selected_span.innerHTML = selected_product_total

                        let total = document.getElementsByClassName("single_item_total")
                        let total_sum = 0
                        for(let i = 0 ;i < total.length;i++){
                            total_sum += parseFloat(total[i].innerHTML)
                        }
                        let grand_total_span = document.getElementById("grand_total")
                        grand_total_span.innerHTML = total_sum
                        let grand_shipping_total_span= document.getElementById("grand_shpping_total")
                        grand_shipping_total_span.innerHTML = parseFloat(grand_total_span.innerHTML)+ 100
                    }
                   
                }
                
            })
            


    })
</script>

</html>


{% endblock %}