{% extends 'customer/master.html' %}
{% load static %}
{% block title %} product details{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
  .cart_button {
    background-color: blue;
    width: 190px;
    color: white;
    border: none;
    border-radius: 10px;
  }

  .cards {
    box-shadow: 0 0 0 0.2rem rgba(9, 18, 28, 0.5)
  }

  .img {
    height: 300px;
  }
</style>
{% endblock %}
{% block content %}
<h5 style="margin-top: 10px;">
  product details
</h5>

<div class="card mb-3 cards" style="max-width: 640px; height: 300px;">
  <form action="" method="POST">
    {% csrf_token %}
    {{ msg }}
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.photo.url }}" class="img-fluid rounded-start img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <br>
          <h5>{{ product.price }}</h5>
          <p>des :<span>{{ product.description }}</span></p>
          <p style="margin-bottom: -3px;">seller : <span>{{ product.seller.name }}</span></p>
           <p>stock :</p> <input type="number"  id="" value="" max="{{ product.stock }}" name="stock">
          <br><br>
          <input type="submit" class="cart_button" value="add to cart" >
          <p><span>{{ product.stock }}</span> products left</p>
          
        </div>
      </div>
    </div>
    
  </form>
</div>
{% endblock %}