{% extends 'seller/master.html' %}
{% load static %}
{% block title %} add product {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/add_product.css' %}">
{% endblock %}
{% block content %}
<h1>Add Product</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Product Name:</label>
    <input type="text" name="name" id="name">

    <label for="description">Description:</label>
    <textarea name="description" id="description" rows="4" cols="50"></textarea>

    <label for="stock">Stock:</label>
    <input type="number" name="stock" id="stock">

    <label for="code">Product Code:</label>
    <input type="text" name="code" id="code">

    <label for="price">Price:</label>
    <input type="number" name="price" id="price">

    <label for="image">Product Image:</label>
    <input type="file" name="image" id="image">

    <input type="submit" value="Add Product">

    {{ massage }}
</form>
{% endblock %}