{% extends 'seller/master.html' %}
{% load static %}
{% block title %} product catalogue {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
{% endblock %}
{% block content %}
<h1 style=" color: black; margin-top: 3px;">product catalogue</h1>
<div class="container">
    <div class="row mt-3 mb-3">
        {% for product in products %}
        <div class="col">
            <div class="card cards mb-3" style="width: 18rem;">
                <img src="{{ product.photo.url }}" class="card-img-top card_img" alt="..." >
                <div class="card-body">
                    <h4>{{ product.name }}</h4>
                    <h6>{{ product.code }}</h6>
                    <p class="card_rs">Rs.{{ product.price }}</p>
                    <p>Description:{{ product.description }}</p>
                    <p class="card_stock">{{ product.stock }}</p>
                    <p>seller is : {{ product.seller }}</p>
                </div>

            </div>
        </div>
        {% endfor %}
        
    </div>
</div>

{% endblock %}