{% extends 'ecom_admin/master.html' %}
{% load static %}
{% block title %} approve seller {% endblock %}
{% block header %}
<style>
    .tag{
        
    /* background-color: green; */
    height: 40px;
    width: 100%;

    }
    .tag h3{
        margin-left: 400px;
        margin-top: 5px;
    }
    .content{
        width: 95%;
        
    }
    img{
        height: 20px;
        width: 20px;
    }
</style>
<link rel="stylesheet" href="{% static 'css/approve_seller.css' %}">
{% endblock %}
{% block content %}
<div class="tag">
   <h3>approve seller</h3> 
</div>
<div class="content" >
    <form action="" method="POST">
    <table border="2" style=" border-spacing: 30px; width: 100%; margin-left: 10px; margin-top: 10px;margin-bottom: 10px;" >
        <tr>
            {{ msg }}
            {% csrf_token %}
            <th >s:no</th>
            <th>name</th>
            <th>e-mail</th>
            <th>acc-no</th>
            <th>ifsc</th>
            <th>branch</th>
            <th>company-name</th>
            <th>phone</th>
            <th>photo</th>
            <th >action</th>
        </tr>
        {% for seller in sellers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ seller.name }}</td>
            <td>{{ seller.e_mail }}</td>
            <td>{{ seller.ac_no }}</td>
            <td>{{ seller.ifsc }}</td>
            <td>{{ seller.branch }}</td>
            <td>{{ seller.company_name }}</td>
            <td>{{ seller.phone_no }}</td>
            <td><img src="{{ seller.photo.url }}" alt=""></td>
            <td><a href="{% url 'ecom_admin:approve' seller.id %}"><button type="button" class="btn btn-primary" >approve</button></a>
                <a href="{% url 'ecom_admin:remove_seller' seller.id %}"><button type="button" class="btn btn-danger" >remove</button></td>
        </tr>
        {% endfor %}
    </table>
    </form>
</div>
{% endblock %}