{% extends 'ecom_admin/master.html' %}
{% load static %}
{% block title %} view customer {% endblock %}
{% block header %}
<style>
    .tag{
        
    /* background-color: green; */
    height: 50px;
    width: 100%;

    }
    .tag h3{
        margin-left: 400px;
        margin-top: 5px;
    }
    .photo{
        height: 50px;
        width: 50px;
    }
    table{
        width: 80%;
    }
</style>
<link rel="stylesheet" href="{% static 'css/view_seller.css' %}">
{% endblock %}
{% block content %}
<div class="tag">
   <h3>view customer</h3> 
</div>
<div class="content" >
    <table border="2" style=" border-spacing: 30px; width: 95%; margin-bottom: 10px;margin-top: 10px;margin-left: 10px;" >
        <tr>
            <th >customer name</th>
            <th>customer email</th>
            <th>address</th>
            <th>gender</th>
            <th>phone</th>
            <th>password</th>
            <th>remove</th>
            
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            
            <td>{{ customer.email }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.password }}</td>

            <td><a href="{% url 'ecom_admin:remove_cus' customer.id %}"><input type="button" class="btn btn-primary" value="remove"></a></td>
            
           
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}