{% extends 'common/master.html' %}
{% load static %}
{% block title %} customer register {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/customer_reg.css' %}">
{% endblock %}
{% block content %}
<h6 style="margin-left: 330px;margin-top: 10px;">customer register</h6>
<form method="POST" enctype="multipart/form-data">
    {{ massage }}
    {% csrf_token %}
    <div class="container forms">
        
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" required>

        <label for="gender"><b>Gender</b></label>
        <select name="gender" name="gender" required>
            <option value="" selected disabled>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
       
        <br>

        <label for="phone"><b>Phone Number</b></label>
        <input type="text" placeholder="Enter Phone Number" name="phone" required>

        <label for="image">photo:</label>
        <input type="file" name="photo" id="image">

        <label for="email"><b>Email</b></label>
        <span id="span_mail"></span>
        <input type="email" placeholder="Enter Email" name="email" id="email" required >
        

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <input type="submit" value="Submit">

        <h4>if you have already registered ? </h4>
        <a href="{% url 'common:customer_login' %}"><button type="button" class="btn btn-primary">login</button></a>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script>
    $("#email").keyup(function(){
        $.ajaxSetup({
                headers: {

                    "X-CSRFToken": '{{ csrf_token }}'

                }
            })

            $.ajax({

                url : "{% url 'common:check_mail' %}",
                method : 'POST',
                data : {
                    "customerEmail" : $(this).val()

                },
                success : function(response){
                    let exist = response.email_exist
                    if (exist == true){

                        $("#span_mail").html('email already exist').css({"color":"red","font-size":"larger","margin-right":"300px"})

                    }
                  
                }



            })
    })
</script>
{% endblock %}