
{% extends 'common/master.html' %}
{% load static %}
{% block title %} seller register {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/seller_reg.css' %}">
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<h6 style="margin-left: 330px;margin-top: 10px;">seller register</h6>
{{ massage }}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="address">Address</label>
    <input type="text" id="address" name="address" required>
  </div>
  <div>
    <label for="email">Email Address</label>
    <span id="span_email"></span>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="gender">Gender</label>
    <input type="radio" id="male" name="gender" value="male"  style="margin-left: 15px; margin-top: 10px;" >male
    <input type="radio" id="female" name="gender" value="female"   style="margin-left: 15px;" >female
  </div>
  <div style="margin-top: -19px;">
    <label for="phone">Phone Number</label>
    <input type="tel" id="phone" name="phone" required>
  </div>
  <div class="file-upload">
    <label for="photo">Upload Photo</label>
    <input type="file" id="photo" name="photo">
  </div>
  <div>
    <label for="company">Company Name</label>
    <input type="text" id="company" name="company" required>
  </div>
 
  <div>
    <label for="company">account holder Name</label>
    <input type="text" id="company" name="ac_holder_name" required>
  </div>
  <div>
    <label for="company">ifsc</label>
    <input type="text" id="company" name="ifsc" required>
  </div>
  <div>
    <label for="company">branch</label>
    <input type="text" id="company" name="branch" required>
  </div>
  <div>
    <label for="company">account number</label>
    <input type="text" id="company" name="ac_no" required>
  </div>
  <br>
  <div>
    <input type="submit" value="Submit">
    <h6>if you are already registered ? </h6>
    <a href="{% url 'common:seller_login' %}"><button type="button" class="btn" style="background-color:#337ab7 ;">login</button></a>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script>
  $("#email").keyup(function(){
    $.ajaxSetup({
                headers: {

                    "X-CSRFToken": '{{ csrf_token }}'

                }
            })
            $.ajax({
              url : "{% url 'common:check_mail_seller' %}",
              method : 'POST',
              data : {
                "seller_mail":$(this).val()
              },
              success : function(response){
                console.log(response.email_exist)
                let exist = response.email_exist
                if(exist == true){
                  $("#span_email").html("existed mail").css({"color":"red","font-size":"larger"})
                }
              }


            })
            

  })
</script>
{% endblock %}